-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: yapez_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `comprobante_electronico`
--

DROP TABLE IF EXISTS `comprobante_electronico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comprobante_electronico` (
  `idcomprobante` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `idempresa` int(10) unsigned NOT NULL,
  `idorden` int(10) unsigned DEFAULT NULL COMMENT 'orden del POS que origino el comprobante',
  `ref_idcomprobante` int(10) unsigned DEFAULT NULL COMMENT 'comprobante origen para notas de credito/debito',
  `ref_tipo_documento` varchar(2) DEFAULT NULL COMMENT '01 factura, 03 boleta - referencia para NC/ND',
  `ref_serie` varchar(10) DEFAULT NULL,
  `ref_numero` varchar(15) DEFAULT NULL,
  `motivo_codigo` varchar(2) DEFAULT NULL COMMENT 'catalogo 9 NC / catalogo 10 ND',
  `motivo_descripcion` varchar(300) DEFAULT NULL,
  `idclifact` int(10) unsigned DEFAULT NULL,
  `idusuario` int(10) unsigned DEFAULT NULL,
  `tipo_documento` varchar(2) NOT NULL COMMENT '01=Factura, 03=Boleta',
  `serie` varchar(10) NOT NULL,
  `numero` varchar(15) NOT NULL,
  `numero_completo` varchar(30) GENERATED ALWAYS AS (concat(`serie`,'-',`numero`)) STORED,
  `fecha_emision` datetime NOT NULL DEFAULT current_timestamp(),
  `tipo_moneda` varchar(3) NOT NULL DEFAULT 'PEN',
  `tipo_operacion` varchar(4) NOT NULL DEFAULT '0101' COMMENT '0101=Venta interna',
  `cliente_tipo_doc` varchar(1) NOT NULL DEFAULT '1',
  `cliente_num_doc` varchar(20) NOT NULL,
  `cliente_razon` varchar(200) NOT NULL,
  `cliente_direccion` varchar(250) DEFAULT NULL,
  `cliente_email` varchar(150) DEFAULT NULL,
  `subtotal` decimal(14,2) NOT NULL DEFAULT 0.00,
  `subtotal_gravado` decimal(14,2) NOT NULL DEFAULT 0.00,
  `subtotal_exonerado` decimal(14,2) NOT NULL DEFAULT 0.00,
  `subtotal_inafecto` decimal(14,2) NOT NULL DEFAULT 0.00,
  `subtotal_gratuito` decimal(14,2) NOT NULL DEFAULT 0.00,
  `igv` decimal(14,2) NOT NULL DEFAULT 0.00,
  `total` decimal(14,2) NOT NULL DEFAULT 0.00,
  `tasa_igv` decimal(5,4) NOT NULL DEFAULT 0.1800,
  `total_letras` varchar(300) DEFAULT NULL,
  `metodo_pago` varchar(20) DEFAULT NULL,
  `xml_nombre` varchar(150) DEFAULT NULL,
  `xml_ruta` varchar(300) DEFAULT NULL,
  `xml_hash` varchar(150) DEFAULT NULL COMMENT 'firma digital',
  `zip_ruta` varchar(300) DEFAULT NULL,
  `cdr_ruta` varchar(300) DEFAULT NULL,
  `pdf_ruta` varchar(300) DEFAULT NULL,
  `cdr_codigo` varchar(10) DEFAULT NULL,
  `cdr_descripcion` varchar(500) DEFAULT NULL,
  `estado` enum('pendiente','generado','enviando','aceptado','aceptado_observado','rechazado','baja','error') NOT NULL DEFAULT 'pendiente',
  `intentos_envio` int(11) NOT NULL DEFAULT 0,
  `fecha_generacion` datetime DEFAULT NULL COMMENT 'cuando se genero el XML',
  `fecha_envio` datetime DEFAULT NULL COMMENT 'cuando se envio a SUNAT',
  `fecha_baja` datetime DEFAULT NULL,
  `motivo_baja` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`idcomprobante`),
  UNIQUE KEY `uk_comp_doc` (`idempresa`,`tipo_documento`,`serie`,`numero`),
  KEY `idx_comp_estado` (`estado`),
  KEY `idx_comp_orden` (`idorden`),
  KEY `idx_comp_fecha` (`fecha_emision`),
  KEY `fk_comp_clifact` (`idclifact`),
  CONSTRAINT `fk_comp_clifact` FOREIGN KEY (`idclifact`) REFERENCES `cliente_facturacion` (`idclifact`) ON DELETE SET NULL,
  CONSTRAINT `fk_comp_emp` FOREIGN KEY (`idempresa`) REFERENCES `empresa` (`idempresa`),
  CONSTRAINT `fk_comp_orden` FOREIGN KEY (`idorden`) REFERENCES `orden` (`idorden`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comprobante_electronico`
--

LOCK TABLES `comprobante_electronico` WRITE;
/*!40000 ALTER TABLE `comprobante_electronico` DISABLE KEYS */;
/*!40000 ALTER TABLE `comprobante_electronico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comprobante_detalle`
--

DROP TABLE IF EXISTS `comprobante_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comprobante_detalle` (
  `iddetalle` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `idcomprobante` int(10) unsigned NOT NULL,
  `linea` int(11) NOT NULL,
  `codigo` varchar(40) DEFAULT NULL,
  `descripcion` varchar(250) NOT NULL,
  `unidad_medida` varchar(10) NOT NULL DEFAULT 'NIU' COMMENT 'NIU=unidad, ZZ=servicio',
  `cantidad` decimal(12,3) NOT NULL,
  `precio_unitario` decimal(14,4) NOT NULL COMMENT 'sin IGV',
  `precio_con_igv` decimal(14,4) NOT NULL COMMENT 'con IGV',
  `valor_venta` decimal(14,2) NOT NULL,
  `igv_item` decimal(14,2) NOT NULL,
  `total_item` decimal(14,2) NOT NULL,
  `tipo_afectacion` varchar(2) NOT NULL DEFAULT '10' COMMENT '10=Gravado',
  `codigo_afectacion` varchar(2) NOT NULL DEFAULT '10' COMMENT '10=Gravado, 20=Exonerado, 30=Inafecto (cat. 7)',
  PRIMARY KEY (`iddetalle`),
  KEY `idx_det_comp` (`idcomprobante`),
  CONSTRAINT `fk_det_comp` FOREIGN KEY (`idcomprobante`) REFERENCES `comprobante_electronico` (`idcomprobante`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comprobante_detalle`
--

LOCK TABLES `comprobante_detalle` WRITE;
/*!40000 ALTER TABLE `comprobante_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `comprobante_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cdr_log`
--

DROP TABLE IF EXISTS `cdr_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cdr_log` (
  `idlog` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `idcomprobante` int(10) unsigned NOT NULL,
  `accion` varchar(40) NOT NULL,
  `codigo` varchar(10) DEFAULT NULL,
  `mensaje` text DEFAULT NULL,
  `request` mediumtext DEFAULT NULL,
  `response` mediumtext DEFAULT NULL,
  `fecha` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idlog`),
  KEY `idx_log_comp` (`idcomprobante`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cdr_log`
--

LOCK TABLES `cdr_log` WRITE;
/*!40000 ALTER TABLE `cdr_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `cdr_log` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-15 10:15:01
